<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Raven</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <h1>Raven</h1>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/" class="nav-link">Home</a></li>
                <li><a href="/tweets" class="nav-link">Tweets</a></li>
                <li><a href="/tweets/new" class="nav-link">Create</a></li>
            </ul>
        </nav>
    </header>