<%- include("partials/header_tweets")  %> 
    <main>
        <section class="info-container">
            <h2>Twitter alternative</h2>
            <div class="info-content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor sunt placeat tenetur praesentium,
                    dicta odit minus vero ipsam eaque sed quae laudantium veritatis inventore mollitia et suscipit sint
                    eveniet explicabo!
                    Laboriosam earum, exercitationem molestias nulla error quidem. Quaerat repudiandae, quam eius
                    quibusdam qui at, voluptates fugiat alias facilis amet perferendis. Totam numquam provident sequi
                    officiis aliquam dolores, officia id illum?
                    Voluptatem voluptas, ab aut sit doloremque reprehenderit ratione laudantium molestiae nesciunt
                    cumque. Libero, repellat. In dolorum nisi ipsa hic itaque, architecto, odit voluptatem veniam dolor
                    reprehenderit laudantium pariatur provident. Voluptatibus!.</p>
            </div>
            <div class="sign-up-container">
                <button class="cta" id="sign-up-button">Sign Up</button>
            </div>
        </section>
    </main>

<%- include("partials/footer")  %> 